// Config
// ––––––––––––––––––––

// Enable <header>, <main>, <footer> inside <body> as a container
$enable-semantic-container: false !default;

// Enable .container and .container-fluid
$enable-class-container: true !default;

// Enable a centered viewport for <header>, <main>, <footer> inside <body>
// Fluid layout if disabled
$enable-viewport: true !default;


// Enable responsive spacings for <header>, <main>, <footer>, <section>, <article>
// Fixed spacings if disabled
$enable-responsive-spacings: true !default;

// Enable responsive typography
// Fixed root element size if disabled
$enable-responsive-typography: true !default;

// Enable .classes
// .classless version if disabled
$enable-classes: true !default;

// Enable .grid class
$enable-grid: false !default;

// Enable transitions
$enable-transitions: true !default;

// Enable overriding with !important
$enable-important: true !default;

// Responsive
// ––––––––––––––––––––

// xs: Extra small (portrait phones)
// sm: Small(landscape phones)
// md: Medium(tablets)
// lg: Large(desktops)
// xl: Extra large (large desktops)

// NOTE:
// To provide an easy and fine styling on each breakpoint
// we didn't use @each, @mixin or @include.
// That means you need to edit each CSS selector file to add a breakpoint

// Breakpoints
// 'null' disable the breakpoint
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  ) !default;

// Viewports
$viewports: (
  // 'null' disable the viewport on a breakpoint
  sm: 510px,
  md: 700px,
  lg: 920px,
  xl: 1130px) !default;
$bg-light2: #d5f3ff;
$bg-light1: darken($bg-light2, 10%
);
$bg-light0: darken($bg-light2, 20%);
$bg-dark0: #15242a;
$bg-dark1:lighten($bg-dark0, 5%);
$bg-dark2: lighten($bg-dark0, 10%);

:root {
  --font-family: "Poppins", Arial, sans-serif !important;
  --card-box-shadow: none;
  --block-spacing-horizontal: 1rem;
}


:root[data-theme="light"] {
  --bg0: #{$bg-light0};
  --bg1: #{$bg-light1};
  --bg2: #{$bg-light2};
  --dropdown-background-color: #{$bg-light1};
  --form-element-background-color: #{$bg-light1};
  --form-element-focus-color:  #{$bg-light1};
  --dropdown-hover-background-color: #{$bg-light1};
  --color: #002B3D;
  --h1-color: #002B3D;
  --h2-color: #002B3D;
  --h3-color: #002B3D;
  --h4-color: #002B3D;
  --h5-color: #002B3D;
  --h6-color: #002B3D;
 }


:root[data-theme="dark"] {

  --bg0: #{$bg-dark0};
  --bg1: #{$bg-dark1};
  --bg2: #{$bg-dark2};
  --dropdown-background-color: #{$bg-dark1};
  --form-element-background-color: #{$bg-dark1};
  --form-element-focus-color:  #{$bg-dark1};
  --dropdown-hover-background-color: #{$bg-dark1};
 //   --card-box-shadow: none; // 0 0.0625rem 1rem rgb(255 255 255 / 3%), 0 0.625rem 2rem rgb(255 255 255 / 6%), 0 0 0 0.0375rem rgb(255 255 255 / 1.8%);
  --color: #e0eff5;
  --h1-color: #e0eff5;
  --h2-color: #e0eff5;
  --h3-color: #e0eff5;
  --h4-color: #e0eff5;
  --h5-color: #e0eff5;
  --h6-color: #e0eff5;
}



@media (min-width: map-get($breakpoints, "xs")) {
  #app,
  .max-container-width {
    width: 96%;
 }
 }

@media (min-width: map-get($breakpoints, "lg")) {
  #app,
  .max-container-width {
    max-width: map-get($viewports, "lg");
 }
 }

@media (min-width: map-get($breakpoints, "xl")) {
  #app,
  .max-container-width {
    width: map-get($viewports, "lg");
 }
 }