
$enable-grid: false !default;

$primary-hue: 2 !default;
$grey-hue: 40 !default;
rey-hue

:root {
  --font-family: "Poppins", Arial, sans-serif !important;
  --card-box-shadow: none;
  --block-spacing-horizontal: 1rem;
  h2, h3 {
    --typography-spacing-vertical: 1rem;
  }
}
