
$enable-grid: false !default;

:root {
  --font-family: "Poppins", Arial, sans-serif !important;
  --card-box-shadow: none;
  --block-spacing-horizontal: 1rem;
  h2, h3 {
    --typography-spacing-vertical: 1rem;
  }
}

@media (min-width: map-get($breakpoints, "xs")) {
  #app,
  .max-container-width {
    width: 96%;
 }
 }

@media (min-width: map-get($breakpoints, "lg")) {
  #app,
  .max-container-width {
    max-width: map-get($viewports, "lg");
 }
 }

@media (min-width: map-get($breakpoints, "xl")) {
  #app,
  .max-container-width {
    width: map-get($viewports, "lg");
 }
 }