

:root {
  --font-family: "Poppins", Arial, sans-serif !important;


  --button: 0 0 0 rgba(0, 0, 0, 0);

  --card-box-shadow: none;
  --button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  --button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);

  --primary-focus: transparent;
}